html {
  font-family: Helvetica;
  font-size : 14px;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}

a{
  font-size: 18px;
  color: white;
}

.background{
  background-image: url("images/the-flatiron-building.png");
  background-size: cover;
  color: white;
}

.background_singleline{
  background-image: url("images/the-flatiron-building.png");
  color: white;
}

.bottomline{
  background-color: dimgray;
  text-align: left;
}

#copyright{
  font-size: 11px;
  color: white;
}
